@page "/"
@using Entities
@using Microsoft.AspNetCore.SignalR.Client
@using Services
@inject SignalRService Hub
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (testdata != null)
{
    <p>@testdata.Name</p>
    <p>@testdata.CurrentLap</p>
}


@code{
    private Race testdata;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Hub.StartConnectionAsync();
            if (Hub.HubConnection.State == HubConnectionState.Connected)
            {
                Console.WriteLine("Connection made succesfully");


                Hub.HubConnection.On<object>("RaceUpdate", async (race) =>
                {
                    Console.WriteLine("RaceUpdate received.");
                    testdata = (Race)race;
                    await InvokeAsync(StateHasChanged);
                });

                Hub.HubConnection.On<object[]>("CarCrossedLine", async (racers) =>
                {
                    Console.WriteLine($"CarCrossedLine received. {racers[0]}");
                    
                    await InvokeAsync(StateHasChanged);
                });
            
                await Hub.HubConnection.InvokeAsync<Task>(nameof(IRaceHub.StartRace), "Formula One", 5);
            };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
}